@import "@bryntum/core-thin/core.stockholm.css";
@import "@bryntum/grid-thin/grid.stockholm.css";
@import "@bryntum/taskboard-thin/taskboard.stockholm.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
  font-family: Poppins, "Open Sans", Helvetica;
}
.b-taskboardbase {
  --taskboard-body-padding: 2em;
  --taskboard-column-gap: 2em;

  --taskboard-card-border-top-radius: 5px;
  --taskboard-card-border-bottom-radius: 5px;

  --taskboard-column-header-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --taskboard-column-header-border-radius: 5px 5px 0 0;
  --taskboard-column-background: #f5f5f5;
  --taskboard-column-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --taskboard-column-border-radius: 0 0 5px 5px;

  --taskboard-card-header-background: currentColor;
  --taskboard-card-header-color: #fff;
  --taskboard-card-body-padding: var(--taskboard-card-padding);
}

.b-theme-classic-dark .b-taskboardbase {
  --taskboard-column-header-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  --taskboard-column-background: #292929;
  --taskboard-column-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

.b-theme-classic-light .b-taskboardbase,
.b-theme-material .b-taskboardbase {
  --taskboard-column-background: #fbfbfb;
}

.b-theme-classic .b-taskboardbase {
  --taskboard-column-background: #d9d9d9;
}

// Above headers box-shadow
.b-taskboard-column {
  z-index: 3;
}

// Make resource avatars wide, to leave room for the editor
.b-taskboard-resource-avatars {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.b-simple-task-editor .b-resourcescombo {
  // Contrast picker icon against header
  .b-icon-picker {
    color: #fff;
  }

  // Right align resources in the inline editor, to better match card layout
  .b-chipview {
    justify-content: flex-end;
  }
}

.b-resource-avatar {
  border: 2px solid #ddd;
}

.b-taskboard-card-body {
  margin-bottom: 10px;
  border-bottom: 1px solid #a1a1a1;
}

// Use same color for the read-only icon as for the header
.b-taskboard-card.b-readonly .b-taskboard-card-header::before {
  color: var(--taskboard-card-header-color);
}

.b-taskboard-card-footer {
  margin-top: 20px;
  justify-content: space-between;
}

.prio {
  color: white;
  padding: 5px 22px;
  border-radius: 50px;
}
.high-prio {
  background-color: #c23616;
}
.medium-prio {
  background-color: #c99916;
}
.low-prio {
  background-color: #259413;
}
.b-grid {
  margin: 20px 0px;
}

/* Styling for column header */
.b-grid-header-text,
.b-column-title-text {
  font-weight: 600;
  font-size: 18px;
  color: #646464;
}

/* Spacing for cells */
.b-grid-row {
  height: 60px;
}

.b-toolbar-text {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.name-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}

.badge {
  border-radius: 1em;
  padding: 0.4em 0.8em;
  color: #fff;
  text-align: center;
  min-width: 6em;
}
